{% extends "extends/base.njk" %}

{# HEADER #}
{% block header %}
  {% include "includes/_header.njk" %}
{% endblock %}

{% block content %}
  {# MAIN #}
  <main class="main">
    <div class="page-slide">

      {# SECTION-FORM #}
      <section class="sec-form">
        <header class="sec-header--center">
          <h1 class="heading-2">Log into your account</h1>
        </header>

        {# Form #}
        <form id="form-login" class="form">
          <fieldset class="form__group">
            <input class="form__input" id="email" name="email" type="email" placeholder="you@example.com" required="" autocomplete="email">
            <label class="form__label" for="email">Email address</label>
          </fieldset>

          <fieldset class="form__group">
            <input class="form__input" id="password" name="password" type="password" placeholder="••••••••" required=""	minlength="8" autocomplete="current-password">
            <label class="form__label" for="password">Password</label>
          </fieldset>

          <div class="form__group">
            <button class="btn form__btn" title="Login">Login</button>
          </div>
          <div class="form__group form__group--row">
            <div>
              <a href="/forgot-password" class="link form__label">Forgot password?</a>
              <span class="form__label">or</span>
              <a href="/signup" class="link form__label">Create a new account</a>
            </div>
          </div>
        </form>
      </section>
    </div>
  </main>
{% endblock %}

{# FOOTER #}
{% block footer %}
  {% include "includes/_footer.njk" %}
{% endblock %}

