{% extends "extends/dashboard.njk" %}

{% block dashboard %}
  <section class="sec-form">
    <header class="sec-header--center">
      <h1 class="heading-2">Password update</h1>
    </header>

    {# Form #}
    <form id="form-update-password" class="form">
      <fieldset class="form__group">
        <input class="form__input" id="old-password" name="oldPassword" type="password" placeholder="••••••••" required="" minlength="8" autocomplete="current-password">
        <label class="form__label" for="old-password">Current password</label>
      </fieldset>

      <fieldset class="form__group">
        <input class="form__input" id="password" name="password" type="password" placeholder="••••••••"	required="" minlength="8" autocomplete="new-password">
        <label class="form__label" for="password">New password</label>
      </fieldset>

      <fieldset class="form__group">
        <input class="form__input" id="password-confirm" name="passwordConfirm" type="password" placeholder="••••••••" required="" minlength="8" autocomplete="new-password">
        <label class="form__label" for="password-confirm">Confirm password</label>
      </fieldset>

      <div class="form__group">
        <button type="submit" class="btn form__btn" title="Save password">Save password</button>
      </div>
    </form>
  </section>
{% endblock %}
